.logo{
 width: 200px;
}

.bg-navbar{
    background-color: white; 
}

.index-bg{
    background-color: #3b524a;
}

.card-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}


html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer{

    margin-top: auto;
}

.footer-conteiner{
    width: 100%;
	text-align: center;
	font-family: 'Cabin', sans-serif;
   font-family: 'Comfortaa', cursive;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Sen', sans-serif;
   background-color: #3b524a;
   color:  #fbfddb;
}


.footer{
    width: 100%;
    display: flex;
    color:  #fbfddb;
    font-weight: 700;
    align-items: center;
	justify-content: center;
	column-gap: 30px;
}

.card-title{
    text-align: center;
	font-family: 'Cabin', sans-serif;
   font-family: 'Comfortaa', cursive;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Sen', sans-serif;
   background-color: #3b524a;
   color:  #fbfddb;
}

.card-text{
    text-align: center;
	font-family: 'Cabin', sans-serif;
   font-family: 'Comfortaa', cursive;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Sen', sans-serif;
}