.logo{
 width: 300px;

}
@media screen and (max-width:600px){
    .logo{
        width: 220px;
        
    }
}

.bg-navbar{
    background-color: white; 
}

.index-bg{
    background-color: #3b524a;
}

.card-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.primeraparte-index{
    color: #fbfddb;
    font-family: 'Cabin', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Sen', sans-serif;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer{

    margin-top: auto;
}

.footer-conteiner{
    width: 100%;
	text-align: center;
	font-family: 'Cabin', sans-serif;
   font-family: 'Comfortaa', cursive;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Sen', sans-serif;
   background-color: #3b524a;
   color:  #fbfddb;
}


.footer{
    width: 100%;
    display: flex;
    color:  #fbfddb;
    font-weight: 700;
    align-items: center;
	justify-content: center;
	column-gap: 30px;
}

.card-title{
    text-align: center;
	font-family: 'Cabin', sans-serif;
   font-family: 'Comfortaa', cursive;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Sen', sans-serif;
   background-color: #3b524a;
   color:  #fbfddb;
   border-radius: 15px;
   font-size: xx-large;
}

.card-text{
    text-align: center;
	font-family: 'Cabin', sans-serif;
   font-family: 'Comfortaa', cursive;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Sen', sans-serif;
   font-size: x-large;
}

@media screen and (max-width:600px){
	.card-text{
        text-align: center;
        font-family: 'Cabin', sans-serif;
       font-family: 'Comfortaa', cursive;
       font-family: 'Nunito Sans', sans-serif;
       font-family: 'Sen', sans-serif;
       font-size: medium;
    }
    .card-title{
        text-align: center;
        font-family: 'Cabin', sans-serif;
       font-family: 'Comfortaa', cursive;
       font-family: 'Nunito Sans', sans-serif;
       font-family: 'Sen', sans-serif;
       background-color: #3b524a;
       color:  #fbfddb;
       border-radius: 15px;
       font-size: large;
    }

}
.firma{
    width: 300px;
}
@media screen and (max-width:600px){
    .firma{
        width: 150px;
        margin-right: 0;
    }
}


.trabajos-proceso {
    color: #fbfddb;
    font-family: 'Cabin', sans-serif;
       font-family: 'Comfortaa', cursive;
       font-family: 'Nunito Sans', sans-serif;
       font-family: 'Sen', sans-serif;
}

.trabajos-realizados {
    color: #fbfddb;
    font-family: 'Cabin', sans-serif;
       font-family: 'Comfortaa', cursive;
       font-family: 'Nunito Sans', sans-serif;
       font-family: 'Sen', sans-serif;
}

.carousel{
    width: 1050px; 

}
@media screen and (max-width:900px){
    .carousel{
        width: 350px; 
        height: 300;
    }
}

.carousel-item img{
    width: 1350px;
    height: 850px;
}

@media screen and (max-width:900px){
    .carousel-item img{
        width: 350px;
        height: 300px;
    }
}


.btn:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.btn{
    transition: transform .2s;
}


:root{--swiper-theme-color: black !important}
